<form action='/bmi' method='get'>
  <h2>BMI Calculator</h2>
  <h3>Imperial Units</h3>
  <input type="text" name="imp_mass" placeholder="Mass (lbs)">
  <input type="text" name="imp_height" placeholder="Height (in)">
  <input type="submit">
  <h3>Metric Units</h3>
  <input type="text" name="metric_mass" placeholder="Mass (kg)">
  <input type="text" name="metric_height" placeholder="Height (m)">
  <input type="submit">
</form>

<% if @imp_result %>
  <p> Your BMI is <%= @imp_result.round(2)%>
<% elsif @metric_result %>
  <p>Your BMI is <%= @metric_result.round(2)%>
<% end %>
