<form action="/" method="get">
  <h2>Basic Calculator</h2>
  <label for="first">FIRST NUMBER</label>
  <input type="text" name="first" placeholder="Enter the first number">
  <br>
  <br>
  <label for="operator">OPERATOR</label>
  <input type="text" name="operator" placeholder="Enter the operator">
  <br>
  <br>
  <label for="second">SECOND NUMBER</label>
  <input type="text" name="second" placeholder="Enter the second number">
  <br>
  <br>
  <input type="submit">
</form>

<p>The result of <%= @first %> <%= @operator %> <%= @second %> is <%= @result %></p>
