<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My amazing calculator app!</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <li><a href="/">BASIC CALC</a></li>
    <li><a href="/power">POWER</a></li>
    <li><a href="/sqrt">SQUARE ROOT</a></li>
    <li><a href="/bmi">BMI</a></li>
    <li><a href="/mortgage">MORTGAGE</a></li>
    <li><a href="/trip_calc">TRIP CALC</a></li>
  </nav>
  <%= yield %>
<!--   <footer>
    <li><a href="/contact">CONTACT</a></li>
  </footer> -->
</body>
</html>