<form action='/sqrt' method='get'>
  <label for="first">NUMBER</label>
  <input type="text" name="first" placeholder="Enter the number">
  <input type="submit">
</form>

<p>The result of the square root of <%= @first %> is <%= @result_sqrt %></p>